form {
  width: 100%;
}
.loginBox {
  width: 32%;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}
.signUpSubmit {
  margin: 25px 73px 15px 73px !important;
}
form div {
  margin: auto !important;
  display: block !important;
}
.chatBox {
  /* width: 32%;
  height: 60%; */
  /* text-align: center; */
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
  width: 50%;
  margin-top: -21%;
}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 13px 16px 9px;
}
.chat_people{ overflow:hidden; clear:both;}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}
.chat_img {
  float: left;
  width: 40%;
}
.inbox_chat {
  height: 602px !important;
  overflow-y: scroll !important;
}
img {
  width: 36%;
}
.side-panel {
  width: 22%;
  border: 1px solid rgb(0, 188, 212);
  border-top: none !important;
  display: inline-block;
}
.header {
  background-color: rgb(0, 188, 212);
  padding: 20px;
  text-align: right;
  color: white;
  text-transform: uppercase;
}
.mesgs {
  float: right;
  padding: 30px 15px 0 25px;
  width: 72%;
}
.msg_history {
  height: 516px;
  overflow-x: hidden;
  overflow-y: auto;
}
.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 61%;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 12px 12px 12px 12px;
  width: 54%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 12px 12px 12px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
float: right;
width: 31%;
}
.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
background: rgb(0, 188, 212) none repeat scroll 0 0;
border: medium none;
border-radius: 50%;
color: #fff;
cursor: pointer;
font-size: 10px;
height: 33px;
position: absolute;
right: 0;
top: 11px;
width: 33px;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}
.active_chat{ background:#ebebeb;}
/* .container{
  max-width:1170px;
  margin:auto;
  width:50%;
} */
img{ max-width:100%;}
.inbox_people {
background: #f8f8f8 none repeat scroll 0 0;
float: left;
overflow: auto;
width: 25%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
h5 {
  margin-top: -30px;
  padding: 0 25% 0 0;
  margin-bottom: 15px;
  margin-left: 26%;
  color: darkslategray;
}
.profile {
  padding: 14px;
  background-color: rgb(0, 188, 212);
  text-align: center;
  border-radius: 50%;
  width: 20px;
  height: 100%;
}
.inline-display {
  display: inline-block;
}
.mr {
  margin-right: 55%;
}
.user_img {
  display: inline-block;
  padding: 1%;
  border-radius: 50%;
  background-color: white;
  width: 1%;
  height: 15px;
  margin-left: 13px;
  color: rgb(0, 188, 212);
}
.received_withd_msg {
  margin-bottom: 22px;
}
.word-wrap {
  overflow-wrap: break-word;
}
.recent_heading {
  float: left !important;
  width:40% !important;
}
.headind_chat{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
  margin-top: 14px;
  margin-left: -34px;
}
.srch_bar input{
  border: 1px solid #cdcdcd;
  border-width: 1px 1px 1px 1px;
  width: 80%;
  padding: 7px 9px 7px 9px;
  background: none;
  border-radius: 16px;
  outline: none;
}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}
.profile_header {
  text-align: center;
}
.dropdown-content div {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: -35px;
}
.dropdown div:hover {
    background-color: slategray;
    cursor: pointer;
    display: block;
}
/* .dropdown div {
  background-color: slategray;
  cursor: pointer;
  display: none;
} */
